@model List<ControleEstoque.web.Models.CategoriaProdutoModel>
@{
    Layout = "~/Views/Shared/_Cadastro.cshtml";
    ViewBag.Title = "Categoria de Produtos";
}

@section Styles {
    <link href="~/Content/bootstrap-select.css" rel="stylesheet" />
    <link href="~/Content/Cadastro/CategoriaProduto.css" rel="stylesheet" />
}

@section TituloGrid {
    <th class="cabecalho-left">Descrição</th>
    <th class="cabecalho-center">Ativo</th>
    <th class="cabecalho-center">Ação</th>
}

@section LinhaGrid {
    @{
        var linha = 0;
        foreach (var item in Model)
        {
            linha++;
            if (ViewBag.QuantMaxLinhaPorPagina <= 7)
            {
                var ativo = (item.Ativo ? "Sim" : "Não");

                <tr data-id="@item.Id">
                    <td class="detalhe-left">@item.Descricao</td>
                    <td class="detalhe-center">@ativo</td>
                    <td>
                        <a class="btn-pequeno btn-primary btn-alterar" role="button"><i class="glyphicon glyphicon-pencil"></i> Alterar</a>
                        <a class="btn-pequeno btn-danger btn-excluir" role="button"><i class="glyphicon glyphicon-trash"></i> Excluir</a>
                    </td>
                </tr>
            }
            else
            {
                break;
            }
        }
    }
}

@section CamposCadastro {
    <div class="row">
        <div class="form-group">
            @Html.Label("txt_descricao", "Descrição", new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBox("txt_descricao", null, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("cbx_ativo", "Ativo", new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.CheckBox("cbx_ativo")
            </div>
        </div>
    </div>
}

@section Scripts {
    <script src="~/Scripts/bootstrap-select.js"></script>
    <script>
        var titulo_pagina = 'Cadastro de ' + '@ViewBag.Title';
        var url_excluir = '@Url.Action("ExcluirCategoriaProduto", "CadCategoriaProduto")';
        var url_alterar = '@Url.Action("RecuperarCategoriaProduto", "CadCategoriaProduto")';
        var url_confirmar = '@Url.Action("SalvarCategoriaProduto", "CadCategoriaProduto")';
        var url_pagina = '@Url.Action("CategoriaProdutoPagina", "CadCategoriaProduto")';
    </script>
    <script src="~/Scripts/Cadastro/CadCategoriaProduto.js"></script>
}