@model List<ControleEstoque.web.Models.ProdutoModel>
@{
    Layout = "~/Views/Shared/_Cadastro.cshtml";
    ViewBag.Title = "Produtos";
    ViewBag.Lista = Model;
}

@section Styles {
    <link href="~/Content/bootstrap-select.css" rel="stylesheet" />
    <link href="~/Content/Cadastro/Produto.css" rel="stylesheet" />
    <style>
        .dialogo > .modal-dialog {
            width: 700px !important;
        }
    </style>
}

@section TituloGrid {
    <th class="cabecalho-center">Ean</th>
    <th class="cabecalho-center">Descrição</th>
    <th class="cabecalho-center">Preço de Custo</th>
    <th class="cabecalho-center">Preço de Venda</th>
    <th class="cabecalho-center">Ativo</th>
    <th class="cabecalho-center">Ação</th>
}

@section CamposCadastro {
    <div class="row">
        <div class="col-md-6">
            @Html.Label("txt_ean", "Código EAN", new { @class = "control-label" })
            @Html.TextBox("txt_ean", null, new { @class = "form-control" })
        </div>
        <div class="col-md-6">
            @Html.Label("txt_descricao", "Descrição", new { @class = "control-label" })
            @Html.TextBox("txt_descricao", null, new { @class = "form-control" })
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            @Html.Label("txt_preco_custo", "Preço de Custo", new { @class = "control-label" })
            @Html.TextBox("txt_preco_custo", null, new { @class = "form-control" })
        </div>
        <div class="col-md-6">
            @Html.Label("txt_preco_venda", "Preço de Venda", new { @class = "control-label" })
            @Html.TextBox("txt_preco_venda", null, new { @class = "form-control" })
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            @Html.Label("ddl_categoria", "Categoria", new { @class = "control-label" })
            @Html.DropDownList("ddl_categoria", new SelectList(ViewBag.CategoriasProduto, "Id", "Descricao"), new { @class = "form-control" })
        </div>
        <div class="col-md-6">
            @Html.Label("ddl_fornecedor", "Fornecedor", new { @class = "control-label" })
            @Html.DropDownList("ddl_fornecedor", new SelectList(ViewBag.Fornecedores, "Id", "Nome"), new { @class = "form-control" })
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            @Html.Label("ddl_unidade_medida", "Unidade de Medida", new { @class = "control-label" })
            @Html.DropDownList("ddl_unidade_medida", new SelectList(ViewBag.UnidadesMedida, "Id", "Descricao"), new { @class = "form-control" })
        </div>
        <div class="col-md-6">
            @Html.Label("txt_qt_unidade", "Qt.Un.Med.", new { @class = "control-label" })
            @Html.TextBox("txt_qt_unidade", null, new { @class = "form-control" })
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-check" style="margin-top: 1em; margin-bottom: 1em">
                @Html.CheckBox("cbx_ativo", new { @class = "form-check-input" })
                @Html.Label("cbx_ativo", "Ativo", new { @class = "form-check-label" })
            </div>
        </div>
    </div>
}

@section Scripts{
    <script src="~/Scripts/bootstrap-select.js"></script>
    <script src="~/Scripts/jquery.mask.min.js"></script>
    <script>
        var titulo_pagina = 'Cadastro de ' + '@ViewBag.Title';
        var url_excluir = '@Url.Action("ExcluirProduto", "CadProduto")';
        var url_alterar = '@Url.Action("RecuperarProduto", "CadProduto")';
        var url_confirmar = '@Url.Action("SalvarProduto", "CadProduto")';
        var url_pagina = '@Url.Action("ProdutoPagina", "CadProduto")';
        var linhas = [];

        @{
            var linha = 0;
            foreach (var item in Model)
            {
                linha++;
                if (linha <= ViewBag.QuantMaxLinhaPorPagina)
                {
                    @:linhas.push(@Html.Raw(Json.Encode(item)));
                }
                else
                {
                    break;
                }
            }
        }

    </script>
    <script src="~/Scripts/Cadastro/CadProduto.js"></script>
    <script id="template-grid" type="x-tmpl-mustache">
        <tr data-id="{{ Id }}">
            <td class="detalhe-left">{{ Ean }}</td>
            <td class="detalhe-center">{{ Descricao }}</td>
            <td class="detalhe-center">{{ PrecoCusto }}</td>
            <td class="detalhe-center">{{ PrecoVenda }}</td>
            <td class="detalhe-center">{{ #Ativo }}Sim{{ /Ativo }}{{ ^Ativo }}Não{{ /Ativo }}</td>
            <td>
                <a class="btn-pequeno btn-primary btn-alterar" role="button"><i class="glyphicon glyphicon-pencil"></i> Alterar</a>
                <a class="btn-pequeno btn-danger btn-excluir" role="button"><i class="glyphicon glyphicon-trash"></i> Excluir</a>
            </td>
        </tr>
    </script>
}
