@model List<ControleEstoque.web.Models.UnidadeMedidaModel>
@{
    Layout = "~/Views/Shared/_Cadastro.cshtml";
    ViewBag.Title = "Unidades de Medida";
    ViewBag.Lista = Model;
}

@section Styles {
    <link href="~/Content/bootstrap-select.css" rel="stylesheet" />
    <link href="~/Content/Cadastro/UnidadeMedida.css" rel="stylesheet" />
}

@section TituloGrid {
    <th class="cabecalho-center">Sigla</th>
    <th class="cabecalho-left">Descrição</th>
    <th class="cabecalho-center">Ativo</th>
    <th class="cabecalho-center">Ação</th>
}

@section CamposCadastro {
    <div class="row">
        <div class="col-md-12">
            @Html.Label("txt_sigla", "Sigla", new { @class = "control-label" })
            @Html.TextBox("txt_sigla", null, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @Html.Label("txt_descricao", "Descrição", new { @class = "control-label" })
            @Html.TextBox("txt_descricao", null, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-check" style="margin-top: 1em; margin-bottom: 1em">
                @Html.Label("cbx_ativo", "Ativo", new { @class = "control-label" })
                @Html.CheckBox("cbx_ativo")
            </div>
        </div>
    </div>
}
@section Scripts{
    <script src="~/Scripts/bootstrap-select.js"></script>
    <script>
        var titulo_pagina = 'Cadastro de ' + '@ViewBag.Title';
        var url_excluir = '@Url.Action("ExcluirUnidadeMedida", "CadUnidadeMedida")';
        var url_alterar = '@Url.Action("RecuperarUnidadeMedida", "CadUnidadeMedida")';
        var url_confirmar = '@Url.Action("SalvarUnidadeMedida", "CadUnidadeMedida")';
        var url_pagina = '@Url.Action("UnidadeMedidaPagina", "CadUnidadeMedida")';
        var linhas = [];

        @{
            var linha = 0;
            foreach (var item in Model)
            {
                linha++;
                if (linha <= ViewBag.QuantMaxLinhaPorPagina)
                {
                    @:linhas.push(@Html.Raw(Json.Encode(item)));
                }
                else
                {
                    break;
                }
            }
        }

    </script>
    <script src="~/Scripts/Cadastro/CadUnidadeMedida.js"></script>
    <script id="template-grid" type="x-tmpl-mustache">
        <tr data-id="{{ Id }}">
            <td class="detalhe-left">{{ Sigla }}</td>
            <td class="detalhe-center">{{ Descricao }}</td>
            <td class="detalhe-center">{{ #Ativo }}Sim{{ /Ativo }}{{ ^Ativo }}Não{{ /Ativo }}</td>
            <td>
                <a class="btn-pequeno btn-primary btn-alterar" role="button"><i class="glyphicon glyphicon-pencil"></i> Alterar</a>
                <a class="btn-pequeno btn-danger btn-excluir" role="button"><i class="glyphicon glyphicon-trash"></i> Excluir</a>
            </td>
        </tr>
    </script>
}
