@model List<ControleEstoque.web.Models.UsuarioModel>
@{
    Layout = "~/Views/Shared/_Cadastro.cshtml";
    ViewBag.Title = "Usuários";
    ViewBag.Lista = Model;
}

@section Styles {
    <link href="~/Content/bootstrap-select.css" rel="stylesheet" />
    <link href="~/Content/Cadastro/Usuario.css" rel="stylesheet" />
}

@section TituloGrid {
    <th class="cabecalho-left">Usuário</th>
    <th class="cabecalho-center">Nome</th>
    <th class="cabecalho-center">E-mail</th>
    <th class="cabecalho-center">Ativo</th>
    <th class="cabecalho-center">Ação</th>
}

@section CamposCadastro {
    <div class="row">
        <div class="form-group">
            @Html.Label("txt_login", "Usuário", new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBox("txt_login", null, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("txt_senha", "Senha", new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBox("txt_senha", null, new { @class = "form-control", type = "password" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("txt_nome", "Nome", new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBox("txt_nome", null, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("txt_email", "E-mail", new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBox("txt_email", null, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("cbx_ativo", "Ativo", new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.CheckBox("cbx_ativo")
            </div>
        </div>

        <div class="form-group" style="margin: 0 15px 15px 15px">
            <div class="col-md-12">
                <h4 class="text-center">Perfis</h4>
                <div class="well" style="max-height: 180px; padding: 5px; margin: 0; overflow: auto">
                    <ul id="lista_perfil" class="list-group checked-list-box" style="margin-bottom: 0">
                        @foreach (var perfil in (List<ControleEstoque.web.Models.PerfilModel>)ViewBag.ListaPerfil)
                        {
                            <li class="list-group-item">
                                <label style="margin-bottom: 0">
                                    <input type="checkbox" data-id-perfil="@perfil.Id" /> @perfil.Nome
                                </label>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>

    </div>
}

@section LinhaGrid {
    @{
        var linha = 0;

        foreach (var item in Model)
        {
            linha++;
            if (ViewBag.QuantMaxLinhaPorPagina <= 7)
            {
                var ativo = (item.Ativo ? "Sim" : "Não");

                <tr data-id="@item.Id">
                    <td class="detalhe-left">@item.Login</td>
                    <td class="detalhe-left">@item.Nome</td>
                    <td class="detalhe-left">@item.Email</td>
                    <td class="detalhe-center">@ativo</td>
                    <td>
                        <a class="btn-pequeno btn-primary btn-alterar" role="button"><i class="glyphicon glyphicon-pencil"></i> Alterar</a>
                        <a class="btn-pequeno btn-danger btn-excluir" role="button"><i class="glyphicon glyphicon-trash"></i> Excluir</a>
                    </td>
                </tr>
            }
            else
            {
                break;
            }
        }
    }
}

@section Scripts{
    <script src="~/Scripts/bootstrap-select.js"></script>
    <script>
        var titulo_pagina = 'Cadastro de ' + '@ViewBag.Title';
        var url_excluir = '@Url.Action("ExcluirUsuario", "CadUsuario")';
        var url_alterar = '@Url.Action("RecuperarUsuario", "CadUsuario")';
        var url_confirmar = '@Url.Action("SalvarUsuario", "CadUsuario")';
        var url_pagina = '@Url.Action("UsuarioPagina", "CadUsuario")';
    </script>
    <script src="~/Scripts/Cadastro/CadUsuario.js"></script>
}